body{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
}
.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
.container_card{
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}
header{
	background-color: #f58c36;
	color: white;
	padding: 20px 0;
}
header h1{
	margin: 0;
	text-align: center;
}
nav ul{
	padding: 0;
	text-align: center;
	list-style: none;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
nav ul li {
	display: inline;
	margin: 0 15px;
}
.hero{
	color: white;
	text-align: center;
	padding: 50px 0;
	background:url('');
}
.hero h2{
	font-size: 2.5em;
	margin: 0;
	color: black;
}
.hero p{
	font-size: 1.2em;
	margin: 10px 0 20px;
	color: black;
}
.hero .btn{
	background-color: #f58c36;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 10px;
}
.cards{
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}
.card{
	background-color: white;
	padding: 20px;
	text-align: center;
	color: black;
	box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.1);
	width: calc(33.333% - 20px);
}
.card h3{
	margin: 0 0 10px;
	color: #f58c36;
}
.container h2{
	color: #f58c36;
}
.about{
	background-color: white;
	padding: 50px 0;
	text-align: justify;
}
.about h1{
	margin-bottom: 20px;
	color: #f58c36;
}
.about h1{
	margin: 0 auto;
	line-height: 1.6;
	max-width: 1500;
}
footer{
	background-color: #333;
	color: white;
	text-align: center;
	padding: 20px 0;
	margin-top: 50px;
}
footer p{
	margin: 0;
}
